body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #7abdad, #348776);
}

h1{
    color: #090909;
    margin-bottom: 20px;
}

p{
    color: #181414;
    margin-bottom: 20px;
}